.admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: max-content;
    max-width: 80%;
    align-self: flex-start;
    gap: 0.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.admin-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 1rem;
    font-size: 0.8rem;

    .time {
        opacity: 0.5;
    }
}

.admin-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;

    img {
        width: 1.5rem;
    }

    ;
}

.admin-msg {
    background-color: rgba(58, 58, 58, 0.1);
    padding: 1rem;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    border-image-slice: 1;
    border-radius: 0px 10px 10px 10px;
}

.response {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 0.5rem;

    img {
        width: 1rem;
    }

    .repo, .commit-time {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 0.1rem 0.2rem;
        background-color: rgba(66, 66, 66, 0.1);
    }
}