.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: max-content;
    width: max-content;
    gap: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 1rem;

    .time {
        opacity: 0.5;
    }
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    img {
        width: 1.5rem;
    };
}

.user-msg {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 10px 0px 10px 10px;
}